#header-section__right {
    width: 100%;
}

header {
    padding-top: $shop-base-spacer;
    padding-right: 0px;
    width: 100%;
}

.header-item {
    margin-left: 1em;

    > .vv-icon {
        color: $shop-brown-color;
    }
}

.header-item__searchbar {
    padding: .6em .5em;
    width: 17em;
    transition: $shop-base-transition;
    text-align: left;
    border:  1px solid $shop-grey-color;

    &:focus {
        width: 30em;
    }
}

.header-item__contacts {
    font-size: 82%;
    line-height: 42px;
    display: none;

    > span{

        > span.icon-telefon {
            vertical-align: text-top;
            font-size: 100%;
        }

        > a {
            color: $link-grey-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    :not(:last-child) {
        margin-right: 15px;
    }
}

.header-item__menu-butt {
    display: none;
}

span::selection{ background: transparent; }

.vv-icon{
    font-size: 24px;

    &:before {
        top: .35rem;
        position: relative;
    }
}

.btn.btn-dark.vv-icon.icon-search {
    background-color: $shop-white-color;
    &:before {
        color: #dda06d;
        top: 0px;
    }
}

.circle-counter {
    background-color: #f05a67;
    border-radius: 10px 10px;
    border: 0;
    line-height: 20px;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 5px;
    color: white;
    left: -10px;
    position: relative;
}

// TODO input se ukaze pri :focus na search button
@media screen and (max-width: 575px) {
    #logo-wrapper {
        width: 100%;
        height: 10%;
        padding-bottom: 10px;
    }

    #logo {
        min-width: 250px;
        width: 100%;
        height: 20%;
        padding: 0 5px;
        min-height: 50px;
        max-width: 399px;
        max-height: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    #header-section__right {
        width: 100%;
        height: 54px;
        background-color: $shop-darkbrown-color;

        .vv-icon {
            color: $shop-white-color;
        }
    }

    .header-item__searchbar {
        display: none;
    }

    .header-item__cart {

        > .label {
            display: none;
        }
    }

    .btn.btn-dark.vv-icon.icon-search {
        background-color: $shop-darkbrown-color;
        border-radius: 0px;
        &:before {
            color: $shop-white-color;
            top: 0px;
        }
    }

    .header-item__menu-butt {
        display: block;
    }

    .btn-dark {
        background-color: $shop-darkbrown-color;
        border-color: $shop-darkbrown-color;
        font-weight: bold;

        &:hover {
            border-color: $shop-darkbrown-color;
            background-color: $shop-darkbrown-color;
        }
    }
}

// 576px and up
@media screen and (min-width: 576px) and (max-width: 991px) {
    #logo-wrapper {
        width: 100%;
        padding-bottom: 10px;
    }

    #logo {
        min-width: 576px;
        width: 100%;
        height: 20%;
        padding: 0 5px;
        min-height: 50px;
        max-width: 399px;
        max-height: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    #header-section__right {
        width: 100%;
        height: 54px;
        background-color: $shop-darkbrown-color;

        .vv-icon {
            color: $shop-white-color;
        }
    }

    .header-item__searchbar {
        display: none;
    }

    .header-item__cart {

        > .label {
            display: none;
        }
    }

    .btn.btn-dark.vv-icon.icon-search {
        background-color: $shop-darkbrown-color;
        border-radius: 0px;
        &:before {
            color: $shop-white-color;
            top: 0px;
        }
    }

    .header-item__menu-butt {
        display: block;
    }

    .btn-dark {
        background-color: $shop-darkbrown-color;
        border-color: $shop-darkbrown-color;
        font-weight: bold;

        &:hover {
            border-color: $shop-darkbrown-color;
            background-color: $shop-darkbrown-color;
        }
    }
}

// TODO md
// 768px and up
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #logo-wrapper {
        max-width: 50%;
        padding-bottom: 10px;
    }

    #logo {
        width: 100%;
        min-width: 0px;
        padding: 0 5px;
        min-height: 50px;
        max-width: 399px;
        max-height: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    #header-section__right {
        width: 60%;
        background-color: transparent;

        .vv-icon {
            color: $shop-brown-color;
        }
    }

    header {
        padding-top: $shop-base-spacer;
        padding-bottom: $shop-base-spacer;
        padding-right: 0px;
        width: 100%;
    }

    .header-item {
        margin-left: 1em;

        > .vv-icon {
            color: $shop-brown-color;
        }
    }

    .header-item__contacts {
        font-size: 82%;
        line-height: 42px;
        display: block;
        padding-right: $shop-base-spacer;

        > span{

            > span.vv-icon:before {
                color: $shop-black-color;
            }

            > span.icon-telefon {
                vertical-align: text-top;
                font-size: 100%;
            }

            > a {
                color: $link-grey-color;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        :not(:last-child) {
            margin-right: 15px;
        }
    }

    .header-item__menu-butt {
        display: none;
    }

    .header-item__searchbar {
        display: block;
        width: 17em;
        transition: $shop-base-transition;
        text-align: left;
        border-right: 0px;
        -webkit-border-radius: $shop-base-border-radius 0px 0px $shop-base-border-radius;
        -moz-border-radius: $shop-base-border-radius 0px 0px $shop-base-border-radius;
        border-radius: $shop-base-border-radius 0px 0px $shop-base-border-radius;

        &:focus {
            width: 30em;
        }
    }

    /** na produkci se nezobrazuje v tomto rozliseni*/
    .btn.btn-dark.vv-icon.icon-search {
        display: block;
        background-color: transparent;
        border-top: 1px solid $shop-grey-color;
        border-left: 0px;
        border-bottom: 1px solid $shop-grey-color;
        border-right: 1px solid $shop-grey-color;

        &:before {
            display: block;

            color: $shop-brown-color;
        }
    }

    .header-item__favorite {
        border-radius: $shop-base-border-radius;
        border: 1px solid $shop-grey-color;
        padding: .35rem .5rem .5rem .5rem;
        margin-right: 0rem;
    }

    .header-item__cart {
        border-radius: $shop-base-border-radius;
        border: 1px solid $shop-grey-color;
        padding: .35rem .5rem .5rem .5rem;
        margin-right: 1rem;
    }
}


/** TODO breakpoints podle bootstrap mixinu viz layout.scss*/
// 1200px and up
@include media-breakpoint-up(xl) {
    #logo {
        min-width: 250px;
        width: 100%;
        height: 20%;
        padding: 0 5px;
        min-height: 50px;
        max-width: 399px;
        max-height: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-item__contacts {
        display: block;
    }

    #header-section__right {
        width: 60%;
    }

    .header-item__searchbar {
        display: block;
        width: 17em;
        transition: $shop-base-transition;
        text-align: left;
        border-right: 0px;
        -webkit-border-radius: $shop-base-border-radius 0px 0px $shop-base-border-radius;
        -moz-border-radius: $shop-base-border-radius 0px 0px $shop-base-border-radius;
        border-radius: $shop-base-border-radius 0px 0px $shop-base-border-radius;

        &:focus {
            width: 30em;
        }
    }

    /** na produkci se nezobrazuje v tomto rozliseni*/
    .btn.btn-dark.vv-icon.icon-search {
        display: block;
        background-color: transparent;
        border-top: 1px solid $shop-grey-color;
        border-left: 0px;
        border-bottom: 1px solid $shop-grey-color;
        border-right: 1px solid $shop-grey-color;

        &:before {
            display: block;

            color: $shop-brown-color;
        }
    }
}