.navbar {
  padding: .5rem 0rem;
}

/** desktops */
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}

/** should work for iPhone Safari? Not sure though... */
.nav-item.dropdown:focus > .dropdown-menu {
  display: block;
}

/** "fix" to remove a tiny gap */
.nav-item.dropdown > .dropdown-menu {
  margin-top: 0px;
}

.navbar-nav {
  flex: 1;
}

/** muze byt vic featured kategorii, navic drzime specificitu co nejnize, proto class ne ID*/
.nav-item--featured {
  background-color: #f05a67;
}

// TODO navbar dropdown-menu pozicovat mixinem left = -nth(child) * .nav-item width
// menu pres js...
@media screen and (min-width: 992px) {
    .navbar {
        color: white;
        background-color: $shop-darkbrown-color;
        padding: 0px;
        line-height: 2em;
        font-weight: bold;
    }

    .navbar-nav > li.nav-item {
        > a.nav-link {
            color: white;

            &:after {
              content: "";
            }

            &:focus {
                background-color: $shop-brown-color;
                color: white;
            }
        }
    }

    .nav-item.dropdown.open {

        > .dropdown-menu {
            position: absolute;
            width: 100%;
            min-width: 992px;
            left: -170px;
        }
    }

    /** muze byt vic featured kategorii, navic drzime specificitu co nejnize, proto class ne ID*/
    .nav-item--featured {
      background-color: #f05a67;
    }

}