/* Definice font-face fontů */

@include font-face($shop-main-font-family, "/font/PlutoRegular", normal, normal, "otf");
@include font-face($shop-main-font-family, "/font/PlutoMedium", bold, normal, "otf");
@include font-face($shop-main-font-family, "/font/PlutoLight", lighter, normal, "otf");

@font-face {
  font-family:vv-icon;
  src:url(/font/vv-icon.ttf);
  font-weight:400;
  font-style:normal
}
.vv-icon {
  font-family:vv-icon!important;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.icon-rma-vraceni-zbozi:before {
  content:"\e94f"
}
.icon-balik:before {
  content:"\e905"
}
.icon-basket:before {
  content:"\e906"
}
.icon-bezlepek:before {
  content:"\e907"
}
.icon-bezlepek-ro:before {
  content:"\e908"
}
.icon-doprava:before {
  content:"\e909"
}
.icon-doprava-zdarma:before {
  content:"\e90a"
}
.icon-email:before {
  content:"\e90b"
}
.icon-email-vse:before {
  content:"\e90c"
}
.icon-fajfka:before {
  content:"\e90d"
}
.icon-hodinky-cz:before {
  content:"\e90e"
}
.icon-chat:before {
  content:"\e90f"
}
.icon-checkround:before {
  content:"\e910"
}
.icon-christmas:before {
  content:"\e911"
}
.icon-informace:before {
  content:"\e912"
}
.icon-kabelka:before {
  content:"\e913"
}
.icon-kontakt:before {
  content:"\e914"
}
.icon-krasa-cz:before {
  content:"\e915"
}
.icon-krizek:before {
  content:"\e916"
}
.icon-modnidoplnky-cz:before {
  content:"\e917"
}
.icon-nastaveni:before {
  content:"\e918"
}
.icon-nastaveni-soukromi:before {
  content:"\e919"
}
.icon-ochrana-osobnich-udaju:before {
  content:"\e91a"
}
.icon-parfemy-cz:before {
  content:"\e91b"
}
.icon-prozdravi-cz:before {
  content:"\e91c"
}
.icon-rok-1:before {
  content:"\e91d"
}
.icon-rok-32:before {
  content:"\e91e"
}
.icon-sms:before {
  content:"\e91f"
}
.icon-sortiment:before {
  content:"\e920"
}
.icon-sperky-cz:before {
  content:"\e921"
}
.icon-sprava-osobnich-udaju:before {
  content:"\e922"
}
.icon-stit:before {
  content:"\e923"
}
.icon-stock:before {
  content:"\e924"
}
.icon-vege:before {
  content:"\e925"
}
.icon-vivantis-cz:before {
  content:"\e926"
}
.icon-vivantis-sk:before {
  content:"\e927"
}
.icon-addheart:before {
  content:"\e928"
}
.icon-alert:before {
  content:"\e929"
}
.icon-bio:before {
  content:"\e92a"
}
.icon-car:before {
  content:"\e92b"
}
.icon-cart:before {
  content:"\e92c"
}
.icon-clock:before {
  content:"\e92d"
}
.icon-close:before {
  content:"\e92e"
}
.icon-doprava-darek:before {
  content:"\e92f"
}
.icon-files:before {
  content:"\e930"
}
.icon-gift:before {
  content:"\e931"
}
.icon-gravirovani:before {
  content:"\e932"
}
.icon-heart:before {
  content:"\e933";
}
.icon-home:before {
  content:"\e934"
}
.icon-check:before {
  content:"\e935"
}
.icon-insurance:before {
  content:"\e936"
}
.icon-mince:before {
  content:"\e937"
}
.icon-obalka:before {
  content:"\e938"
}
.icon-play:before {
  content:"\e939"
}
.icon-rma-nekompletni-zasilka:before {
  content:"\e93a"
}
.icon-rma-poskozeni-pri-doruceni:before {
  content:"\e93b"
}
.icon-rma-reklamace:before {
  content:"\e93c"
}
.icon-rma-vyrobek-prestal-fungovat-ve-14-dnech:before {
  content:"\e93d"
}
.icon-rma-zamena-zbozi:before {
  content:"\e93e"
}
.icon-rok-3:before {
  content:"\e93f"
}
.icon-search:before {
  content:"\e940"
}
.icon-searchfile:before {
  content:"\e941"
}
.icon-sipkadolu:before {
  content:"\e942"
}
.icon-star:before {
  content:"\e943"
}
.icon-storagebox:before {
  content:"\e944"
}
.icon-tag:before {
  content:"\e945"
}
.icon-telefon:before {
  content:"\e946"
}
.icon-urceni-pro-deti:before {
  content:"\e947"
}
.icon-urceni-pro-muze:before {
  content:"\e948"
}
.icon-urceni-pro-zeny:before {
  content:"\e949"
}
.icon-urceni-unisex:before {
  content:"\e94a"
}
.icon-vyroba:before {
  content:"\e94b"
}
.icon-write:before {
  content:"\e94c"
}
.icon-zaruka:before {
  content:"\e94d"
}
.icon-zoomin:before {
  content:"\e94e"
}
.icon-o-boty:before {
  content:"\e900"
}
.icon-o-hodinky:before {
  content:"\e901"
}
.icon-o-kabelka:before {
  content:"\e902"
}
.icon-o-parfem:before {
  content:"\e903"
}
.icon-o-rasenka:before {
  content:"\e904"
}
