body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: $shop-main-font-family;
	font-weight: normal;
	line-height: 1.2;
	font-size: $shop-base-font-size;

	-webkit-animation: $shop-base-animation;
	-moz-animation:    $shop-base-animation;
	-o-animation:      $shop-base-animation;
	animation:         $shop-base-animation;
}

@media screen and (max-width: 576px) {
	body.container {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@include media-breakpoint-up(sm) {
	body.container {
		padding-left: 0px;
		padding-right: 0px;
		max-width: 767px;
	}
}

@include media-breakpoint-up(md) {
	body.container {
		padding-left: 0px;
		padding-right: 0px;
		max-width: 991px;
	}
}

@include media-breakpoint-up(lg) {
	body.container {
		padding-left: 0px;
		padding-right: 0px;
		max-width: 1199px;
	}
}

@include media-breakpoint-up(xl) {
	body.container {
		max-width: 1501px;
		margin: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	header main aside footer {
		position: relative;
	}

}