<header class="d-flex flex-wrap justify-content-between">
    <div class="justify-content-start" id="logo-wrapper">
        <img id="logo" src="./img/logo_vivantis-cz.svg" >
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-end align-items-center" id="header-section__right">
        <span class="header-item header-item__menu-butt mr-auto">
            <button class="btn btn-dark">MENU</button>
        </span>
        <span class="float-right header-item__contacts">
            {*flex-row d-flex float-right*}
            <span class="">
                <span class="vv-icon icon-obalka"></span>
                <a href="mailto:info@vivantis.cz">info@vivantis.cz</a>
            </span>
            <span>
                <span>10-18&nbsp;hod</span>
            </span>
            <span>
                <span class="vv-icon icon-telefon"></span>
                <a href="tel:+420468006315">468&nbsp;006&nbsp;315</a>
            </span>
        </span>
        <span class="flex-row d-flex flex-nowrap float-right">
            <div>
                <span class="header-item input-group">
                    <div class="input-group-append">
                        <input type="text" class="header-item__searchbar form-control" placeholder="Zadejte hledany text">
                        <button class="btn btn-dark vv-icon icon-search" type="button"></button>
                    </div>
                </span>
            </div>
            <div>
                <span class="header-item header-item__favorite"
                    onclick="addFavorite()"
                >
                    <span class="vv-icon icon-heart"></span>
                    <span id="favourite_counter" class="circle-counter">0</span>
                </span>
                <span class="header-item header-item__cart">
                    <span class="vv-icon icon-cart">

                    </span>
                    <span class="circle-counter">0</span>
                    <span class="label">Empty cart</span>
                </span>
            </div>
        </span>
    </div>

</header>