<nav class="navbar navbar-expand-lg sticky-top navbar-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav justify-content-between">
            <li class="nav-item nav-item--featured">
                <a class="nav-link px-3" href="#">Valentýn</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle px-3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Inspirace
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="col">
                        <a class="dropdown-item" href="#">Trendy a inspirace</a>
                        <a class="dropdown-item" href="#">Připravte se na Valentýn</a>
                        <a class="dropdown-item" href="#">Do nového roku fit a ve formě</a>
                        <a class="dropdown-item" href="#">Ve stylu pařížanky</a>
                        <a class="dropdown-item" href="#">Za hvězdu i na svahu</a>
                        <a class="dropdown-item" href="#">Aby byla duha musí nejdřív pršet</a>
                        <a class="dropdown-item" href="#">Vítejte v Barber Shop</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#">Ženy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#">Muži</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#">Děti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#">Novinky</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#">Slevy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3 pr-5" href="#">Značky</a>
            </li>
        </ul>
    </div>
</nav>
