/* Base shop options */
$shop-base-spacer: 1rem;
$shop-base-font-size: 1rem;
$shop-base-transition: all 1s ease-out;
$shop-base-animation: fade-in 3s ease 0s 1;
$shop-base-border-radius: 3px;

/* Base shop colors */
$shop-black-color: #111;
$shop-white-color: #fff;
$shop-grey-color: #b8b8b8;
$shop-brown-color: #dda06d;
$shop-darkbrown-color: #4c413d;
$link-grey-color: #4d413d;

/* Base shop fonts */
$shop-main-font-family: Pluto;