<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=stylesheet href="/css/compiled/vivantis.css" charset=utf-8 />
    <title>{block title}{/block} | Vivantis</title>
    {block variables}{/block}    
</head>

<body class="container">

    {include ../partials/header.latte}

    {include ../partials/nav.latte}

    {include content}

    {include ../partials/aside.latte}

    {include ../partials/footer.latte}

    {block scripts}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/js/compiled/vivantis.js" charset="utf-8"></script>
    {/block}
</body>

</html>